{% extends 'base.html' %}

{% block title %} Two-Shot {% endblock title%}

{% block content%}
    <main>
        <div>
            <h1>Accounts</h1>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
                </thead>
                <tbody>
                {% for row in account %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.number }}</td>
                    <td>{{ row.receipts.all | length }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </main>

{% endblock content%}
