{% extends 'base.html' %}

{% block title %} Two-Shot {% endblock title%}

{% block content%}
    <main>
        <div>
            <h1>Expense Categories</h1>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all | length }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </main>

{% endblock content%}
