{% extends 'base.html' %}

{% block title %} Two-Shot {% endblock title%}

{% block content%}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Acccount</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in receipt %}
                <tr>
                    <td>{{bill.vendor}}</td>
                    <td>{{bill.total}}</td>
                    <td>{{bill.tax}}</td>
                    <td>{{bill.date|date:"m/d/y"}}</td>
                    <td>{{bill.category}}</td>
                    <td>{{bill.account}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock content%}
